body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-image: url(bg3.avif);
    background-size: cover;
    background-color: rgb(156, 201, 52);
    background-position: center;
}

.sign-up-form {
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3); 
     background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}



.sign-up-form h1 {
    color: rgb(32, 87, 155);
    margin-bottom: 30px;
}

.input-box { 
    border-radius: 20px;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    outline: darkblue;
    border: 3px solid #999;
    margin-left: -10px;
}

button {
    color: black;
    width: 100%;
    padding: 10px;
    border-radius: 20px;
    font-size: 15px;
    margin: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

.signup-btn {
    background-color: rgb(16, 172, 228);

}

.google-btn {
    background-color: rgb(31, 145, 238);
}

a {
    text-decoration: none;
}

hr {
    margin-top: 20px;
    width: 80%;
}

.or {
    background: white;
    width: 30px;
    margin: -19px auto 10px;

}

img {
    width: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
}


.Sign-in-page{
    width: 300px;
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.3);
    background: #fff;
    padding: 20px;
    margin: 8% auto 0;
    text-align: center;
}
.Sign-in-page h1{
    color: rgb(32, 87, 155);
    margin-bottom: 30px;
}
.signin-btn{
    background-color: rgb(29, 100, 200);
}
img{
    width: 70px;
    margin-left: 50px;
    margin-right: 50px;
    margin-top: -50px;
}